<% provide(:title, "Edit " + @game.eng_title) %>
<%= render 'shared/game_error_messages' %> 

<h1 class="game_title"><%= @game.eng_title %></h1>

<div class="row span10" style="margin-top: 100px">
  <div class="">

    <%= form_for(@game, :html => {:class => "form-horizontal"}) do |f| %>

    <% if @game.region.region_id != 1 %>
    <div class="control-group offset2" id="games_region_div">

      <% else %>
      <div class="control-group pull-left" id="games_region_div">
	<% end %>
      <%= f.label :region, class: "control-label", style: ""%>
      <div class="controls">
	<%= f.select( :region_id, options_for_select(@region_array, :selected => @game.region.region_id)) %>
      </div>
    </div>

    <% if @game.region.region_id != 1 %>
    <div class="control-group" id="games_jap_title_div">

      <% else %>
      <div class="control-group pull-right" id="games_jap_title_div">
      <% end %>

      <%= f.label :jap_title, "Japanese Title",class: "control-label", id: "jap_title_title"%>
      <div class="controls">
	<%= f.text_field :jap_title, class: "input-medium"%>
      </div>
    </div>

    <div class="control-group pull-right">
      <%= f.label :eng_title, "English Title",class: "control-label", style: ""%>
      <div class="controls">
	<%= f.text_field :eng_title, class: "input-medium" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :ean, "EAN",class: "control-label", style: ""%>
      <div class="controls">
	<%= f.text_field :ean, class: "input-medium", :maxlength=>"14" %>
      </div>
    </div>

    <div class="control-group offset2">
      <%= f.label :ConsoleGeneral, "Console", class: "control-label", style: ""%>
      <div class="controls">
	<%= f.select( :console_general_id, options_for_select(@console_array, :selected => @game.console_general.console_id)) %>
      </div>
    </div>
    
    <div class="offset4">
      <%= f.submit "Save Changes", class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $("#games_jap_title").hide();
  $("#jap_title_title").hide();
</script>

<script type="text/javascript">
  $("#games_region_id").change(function() {
  if ($("#games_region_id").val()=="1")
  {
  $("#games_jap_title").show();
  $("#jap_title_title").show();
  $("#games_jap_title_div").attr('class', 'control-group pull-right');
  $("#games_region_div").attr('class', 'control-group pull-left');
  }
  else
  {
  $("#games_jap_title").hide();
  $("#jap_title_title").hide();
  $("#games_jap_title_div").attr('class', 'control-group');
  $("#games_region_div").attr('class', 'control-group offset2');
  }
  });

  $("#games_region_id").ready(function() {
  if ($("#games_region_id").val()=="1")
  {
  $("#games_jap_title").show();
  $("#jap_title_title").show();
  $("#games_jap_title_div").attr('class', 'control-group pull-right');
  $("#games_region_div").attr('class', 'control-group pull-left');
  }
  else
  {
  $("#games_jap_title").hide();
  $("#jap_title_title").hide();
  $("#games_jap_title_div").attr('class', 'control-group');
  $("#games_region_div").attr('class', 'control-group offset2');
  }
  });
</script>

<% if @game.region.region_id == 1 %>

<script>
  $("#games_jap_title").show();
  $("#jap_title_title").show();
</script>
<% end %>
