<% if !@results.blank? %>
<table class="search_results">
  <% @results.each do |result| %>
  <tr>

    <td id="game_info">
      <%= link_to result.eng_title,  result%>
    </td>

    <td id="console_info">
      <%= result.console_general.eng_name %>
    </td>

    <td id="region_info">
      <%= link_to result.region.region_title, region_path(result.region.region_id) %>
    </td>

  </tr>
  <% end %>
</table>

<% else %>
<h6>Sorry, we couldn't find anything</h6>

<%= form_tag search_index_path, class: "navbar-form navbar-left", style: "text-align: center", method: "get" do %>
<div class="input-prepend">
  <span class="icon-search"></span>  
  <%= text_field_tag :search, params[:search],  class: "span2 search-query", placeholder: "Search for a game"%>
</div>
<% end %>


<% end %>
