<% provide(:title, @user.alias + "'s profile") %>

<h1 style="text-align: center">
  <%= gravatar_for @user %>
  <%= @user.alias %>
</h1>

<p id="game_info">
Number of games in your collection: <%= link_to @game_count, inventory_path(current_user) %> <br />
number of consoles in your collection: <%= @console_count %> <br />
Number of accessories in your collection: <%= @accessory_count %> <br />
</p>

<!-- <%= @user.alias %>, <%= @user.email %> -->
