<% provide(:title, @user.alias + "'s profile") %>

<h1 style="text-align: center">
	<%= gravatar_for @user %>
	<%= @user.alias %>
</h1>

<p id="game_info">
	Number of games in your collection: <%= link_to @game_count, inventory_games_path(current_user) %> <br />
	number of consoles in your collection: <%= link_to @console_count, inventory_consoles_path(current_user) %> <br />
	Number of accessories in your collection: <%= link_to @accessory_count, inventory_accessories_path(current_user) %> <br />
</p>

<!-- Fix this later too, imagemagick and ghostscript aren't playing nice -->
<!--<ul class="nav nav-tabs" id="game_count_tabs">
	<li class="active"><a href="#above10" data-toggle="tab">Game Chart</a></li>
	<li><a href="#accabove10" data-toggle="tab"> Accessory Chart</a></li>
	<li><a href="#consoles" data-toggle="tab"> Console Chart </a></li>
	<li><a href="#wish" data-toggle="tab"> Wish List Chart </a></li>
</ul>

<div class="tab-content">

	<div class="tab-pane active" id="above10">
		<div class="row">
			<div class="span7 offset2">

				<%= image_tag(url_for(:controller => 'users', :action => 'gruffBig'), alt: "Spider Chart of Your Largest Collection") %>



			</div>
		</div>
	</div>

	<div class="tab-pane fade in" id="accabove10">
		<div class="row">
			<div class="span7 offset2">

				<%= image_tag(url_for(:controller => 'users', :action => 'gruffBigAcc'), alt: "Spider Chart of Your Largest Accessory Collection") %>



			</div>
		</div>
	</div>

	<div class="tab-pane fade in" id="consoles">
	  <div class="row">
	    <div class="span7 offset2">
	      
	      <%= image_tag(url_for(:controller => 'users', :action => 'gruffConsole'), alt: "Spider Chart of your consoles") %>
	      
	    </div>
	  </div>
	</div>    
	
	<div class="tab-pane fade in" id="wish">
	  <div class="row">
	    <div class="span7 offset2">
	      
	      <%= image_tag(url_for(:controller => 'users', :action => 'gruffWish'), alt: "Spider Chart of your wish list") %>
	      
	    </div>
	  </div>
	</div>    
	
</div>
-->



