<% provide(:title, "Add A New Game") %>
<%= render 'shared/game_error_messages' %> 
<div class="row span10" style="margin-top: 100px">
  <div class="">

    <%= form_for(@game, url: games_path, :html => {:class => "form-horizontal"}) do |f| %>

    <div class="control-group offset2" id="games_region_div">
      <%= f.label :region, class: "control-label", style: ""%>
      <div class="controls">
	<%= f.select( :region_id, options_for_select(@region_array, :selected => "")) %>
      </div>
    </div>

    <div class="control-group" id="games_jap_title_div">
      <%= f.label :jap_title, "Japanese Title",class: "control-label", id: "jap_title_title"%>
      <div class="controls">
	<%= f.text_field :jap_title, class: "input-medium"%>
      </div>
    </div>

    <div class="control-group pull-right">
      <%= f.label :eng_title, "English Title",class: "control-label", style: ""%>
      <div class="controls">
	<%= f.text_field :eng_title, class: "input-medium" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :ean, "EAN",class: "control-label", style: ""%>
      <div class="controls">
	<%= f.text_field :ean, class: "input-medium", :maxlength=>"14" %>
      </div>
    </div>

    <div class="control-group offset2">
      <%= f.label :ConsoleGeneral, "Console", class: "control-label", style: ""%>
      <div class="controls">
	<%= f.select( :console_general_id, options_for_select(@console_array)) %>
      </div>
    </div>
    
    <div class="offset4">
      <%= f.submit "Create Game", class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
</div>
</div>

<script type="text/javascript">
      $("#games_jap_title").hide();
      $("#jap_title_title").hide();
</script>

    <script type="text/javascript">
      $("#games_region_id").change(function() {
      if ($("#games_region_id").val()=="1")
      {
      $("#games_jap_title").show();
      $("#jap_title_title").show();
      $("#games_jap_title_div").attr('class', 'control-group pull-right');
      $("#games_region_div").attr('class', 'control-group pull-left');
      }
      else
      {
      $("#games_jap_title").hide();
      $("#jap_title_title").hide();
      $("#games_jap_title_div").attr('class', 'control-group');
      $("#games_region_div").attr('class', 'control-group offset2');
      }
      });
    </script>
