<style>
#game_info a, #console_info a, #region_info a
{
        text-decoration: none;
        color: black;
}

#game_info a:hover, #console_info a:hover, #region_info a:hover
{
        font-weight: bold;
}
</style>
<!-- <h1 style="text-align: center"><%= # params[:id] 
%> Console: <%=  # params[:console_id] 
%> </h1> -->

<% provide(:title, 'All Games In Your Collection') %>

<table class="">
<% @ownership.each do |game| %>

<tr>
 <td class="">
<%= # game.games.image
%>
    </td>

    <td id="game_info">
      <%= link_to game.games.eng_title, ownership_game(game.games.id)
	  # ownership_game(game.games.id)
	  %>
    </td>

    <td id="console_info">
      <%= game.games.console_general.eng_name
	  %>
    </td>

    <td id="region_info">
      <%= game.games.region.region_title 
%>
    </td>

</tr>
<% end 
%>

<table>
