<% provide(:title, "Edit " + @accessory.eng_title) %>

<h1 class="accessory_title"><%= @accessory.eng_title %></h1>
<h5 class="accessory_title"><%= @accessory.jap_title %></h5>
<h5 class="accessory_title"><%= @accessory.region.region_title %></h5>


<ul class="nav nav-tabs" id="ownership_tabs">
  <li class="active"><a href="#condition" data-toggle="tab">Cosmetic Condition</a></li>
  <li><a href="#notes" data-toggle="tab">Personal Notes & Images </a></li>
  <li><a href="#misc" data-toggle="tab">Misc & Save</a></li>
</ul>

<%= form_for(@ownership) do |f| %>
<div class="tab-content">

  <div class="tab-pane active" id="condition">
    <div class="row">
      <div class="span4 offset2 field-entry">


	<%= f.label :item_condition, class: "col-sm-2 control-label" %>
	<%= f.select( :item_condition, options_for_select(@quality_array, selected = @ownership.item_condition)) %>

	<%= f.label :manual_condition, class: "col-sm-2 control-label" %>
	<%= f.select( :manual_condition, options_for_select(@quality_array, selected = @ownership.manual_condition)) %>

	<%= f.label :inserts_condition, class: "col-sm-2 control-label" %>
	<%= f.select( :inserts_condition, options_for_select(@quality_array, selected = @ownership.inserts_condition)) %>

	<%= f.label :box_condition, class: "col-sm-2 control-label" %>
	<%= f.select( :box_condition, options_for_select(@quality_array, selected = @ownership.box_condition)) %>

      </div>
    </div>
</div>

  <div class="tab-pane fade in" id="notes">
    <div class="row">
      <div class="span4 offset2">

	<%= f.label :notes, class: "col-sm-2 control-label" %>
	<%= f.text_area(:notes, cols: 500, rows: 5) %>

	
	<%= f.label "Images to be implemented later, sorry :(", class: "col-sm-2 control-label" %>
	<span class="disabled btn btn-sm">Browse<spana>
      </div>
    </div>
  </div>    

  <div class="tab-pane fade in" id="misc">
    <div class="row">
      <div class="span4 offset2">
	<% complete = (@ownership.complete ? 1 : 0) %>
	<%= f.label :complete, class: "col-sm-2 control-label" %>
<%= f.select( :complete, options_for_select([["Incomplete", 0], ["Complete", 1]], selected = complete)) %>

	<br />

	<%= f.submit "Save", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>    
  
</div>
<% end %>
