<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Account <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Profile", current_user %></li>
    <li><%= link_to "Settings", edit_user_path(current_user) %></li>

    <li id="fat-menu" class="dropdown-submenu">    
    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown">
      Inventory
    </a>

    <ul class="dropdown-menu dropdown">
      <li><%= link_to "Games",    inventory_games_path(current_user) %></li>
      <li><%= link_to "Consoles",    inventory_consoles_path(current_user) %></li>
      <li><%= link_to "Accessories",    inventory_accessories_path(current_user) %></li>
    </ul>

    <li id="fat-menu" class="dropdown-submenu">    
    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown">
      Wish Lists
    </a>

    <ul class="dropdown-menu dropdown">
      <li><%= link_to "Games", wish_list_games_path(current_user) %></li>
      <li><%= link_to "Consoles", wish_list_consoles_path(current_user) %></li>
      <li><%= link_to "Accessories", wish_list_accessories_path(current_user) %></li>
    </ul>


    <li class="divider"></li> 
    <li><%= link_to "Logout", signOut_path, method: "delete" %></li>
  </ul>

