<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container" style="max-width: 750px">
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "OOUG",    root_path %></li>
	  <li><%= link_to "About",    about_path %></li>
	  <li><%= link_to "Contact",    contact_path %></li>
	  <li><%= link_to "Wiki",    "http://www.ooug.net/mediawiki" %></li>
	  <li><%= render 'layouts/browse' %></li>
	  <li> 
	  </li>
	</ul>
        <ul class="nav pull-right">
	  <% if signed_in? %>
          <% if admin? %>
	  <%= render 'layouts/adminDropdown' %>
	  <% end %>
	  <%= render 'layouts/accountDropdown' %>
          <% else %>
          <li><%= link_to "Sign in", signIn_path %></li>
	  <li><%= link_to "Sign up", signUp_path %></li>
	  <% end %>

        </ul>
      </nav>
    </div>
  </div>
</header>
