<ul class="nav pull-left">
    <li><%= link_to "OOUG", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Help", help_path %></li>      
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Wiki", "http://www.ooug.net/wiki" %></li>
    <li><%= render 'layouts/browse' %></li>
</ul>